<h2>Cadastrar</h2>
<form action="">
    <label>Id</label>
    <input type="text" name="id" [(ngModel)]="vaga.id"> <br>

    <label>Nome</label>
    <input type="text" name="nome" [(ngModel)]="vaga.nome"> <br>

    <label>Foto</label>
    <input type="text" name="foto" [(ngModel)]="vaga.foto"> <br>

    <label>Descrição</label>
    <input type="text" name="id" [(ngModel)]="vaga.id"> <br>

    <label>Salário</label>
    <input type="text" name="descricao" [(ngModel)]="vaga.descricao"> <br>

    <button type="button" (click)="cadastrar()">Cadastrar Vaga</button>
    <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
    <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>

</form>

<!-- tabela com as vagas já cadastradas -->
 <section class="listar-vagas">
  <table class="table">
    <thead>
      <tr>
        <th>Código da Vaga</th>
        <th>Vaga</th>
        <th>Descrição da Vaga</th>
        <th>Salário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr class="vaga-row" *ngFor="let vaga of vagas">
        <td>{{vaga.id}}</td>
        <td>{{vaga.nome}}</td>
        <td>{{vaga.descricao}}</td>
        <td>R$ {{vaga.salario}}, 00</td>
        <td>
          <button class="btn-listar" type="button" (click)="listarVagaUnica(vaga)">Listar</button>
        </td>
      </tr>
    </tbody>
  </table>
 </section>

 <script>
  document.querySelector("form").addEventListener("submit", function(event) {
    const id = document.querySelector("input[name='id']").value.trim();
    const nome = document.querySelector("input[name='nome']").value.trim();
    const foto = document.querySelector("input[name='foto']").value.trim();
    const descricao = document.querySelector("input[name='descricao']").value.trim();
    const salario = document.querySelector("input[name='salario']").value.trim();

    if (!id || !nome || !foto || !descricao || !salario) {
      alert("Por favor, preencha todos os campos!");
      event.preventDefault(); // Impede o envio do formulário
    }
  });
</script>


 <div class="rodape"></div>
